.on_the_top{background-color: #000000}

.on_the_top img{width: 70px; height: 70px}

.on_the_top button{float:right;
 width: 200px;}

 .dm{
 	width: 200px
 }

 .firstpage{
 	color: #ffcc00; height: 530px;padding-top: 200px
 }



.profile{
	background-color: #dddddd;
	
	padding-top: 50px;
	padding-bottom: 70px;
}

.profile h2{
	color: #ffcc00;
}

.profile p{
	color: #000000;
	padding-top: 40px;
}



.skills{
	background-color: #ffffff;
	
	padding-top: 50px;
	padding-bottom: 100px
}

.skills h2 {
	color: #ffcc00
}

.skills h3{
	padding-top: 10px
}

.skills p {
	display: inline;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 35px;

}

.educations {
	background-color: #dddddd;
	padding-top: 50px;
}

.educations h2{
	color: #ffcc00;
}

.educations h4{
	color: #777777
}

.degree {
	color: #777777
}

.ed_information{
	margin-left: 100px; 
	margin-right: 100px;
}


.experience{
	background-color: #ffffff;
	padding-top: 50px;
}

.experience h2{
	color: #ffcc00
}

.contact {
	background-color: #dddddd;
	padding-top: 50px;
	padding-bottom: 60px;
}

.contact h2{
	color: #ffcc00
}